body {
  font-family: Consolas, monospace;
  background: linear-gradient(135deg, #001f3f, #000);
  margin: 0;
  padding: 0;
}

h1, h2,h3,h4,h5,h6 {
  color: #ffffff;
}

button {
  font-family: 'Consolas', monospace;
}