.search-user-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000;
  color: #00ff7f;
  border: 1px solid #00ff7f;
  border-radius: 5px;
}

.search-form {
  margin-bottom: 20px;
}

.search-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  background-color: #000;
}

.message {
  color: #ff0000;
  margin-top: 10px;
}

.users-list {
  margin-top: 20px;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  padding: 5px 5px 5px 0;
}

.user img {
  margin: 0 10px 0 10px;
  border-radius: 50%;
}

.user button {
  font-family: 'Consolas', monospace;
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.user button:hover {
  background-color: #00ff7f;
  color: #000;
}