.snippetsContainer {
  font-family: 'Consolas', monospace;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: #00ff00;
  border: 1px solid #00ff7f;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLinks {
  display: flex;
  gap: 20px;
}

.headerLink {
  font-family: 'Consolas', monospace;
  color: #00ff00;
  cursor: pointer;
  text-decoration: underline;
}

.headerLink:hover {
  color: #005500;
}

.notification {
  color: #00ff00;
  margin-bottom: 10px;
}

.snippetForm {
  margin-bottom: 20px;
}

.snippetForm input,
.snippetForm textarea {
  font-family: 'Consolas', monospace;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  background-color: #001f3f;
  color: #00ff7f;
}

.searchSnippetContainer {
  font-family: 'Consolas', monospace;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000;
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 5px;
}

.searchForm {
  margin-bottom: 20px;
}

.searchForm input {
  font-family: 'Consolas', monospace;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #00ff00;
  border-radius: 5px;
  background-color: #000;
  color: #00ff00;
}
.snippetsList {
  width: 50%;
  margin-top: 20px;
}
.mySnippetsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sharedButtons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 10px;
}

.sharedButton {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 255, 127, 0.1);
  border: 1px solid #00ff7f;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.updateSnippetBtn {
  background-color: rgba(0, 255, 127, 0.1);
  color: #fff;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.updateSnippetBtn:hover {
  background-color: #00ff7f;
  color: #000;
}

.sharedButton.active {
  background-color: #00ff7f;
  color: #000;
}

.sharedButton:hover {
  background-color: #00ff7f;
  color: #000;
}

.snippet {
  border: 1px solid #00ff7f;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.snippetId {
  font-size: 0.9rem;
  color: #00ff7f;
}

.sharedStatus {
  font-style: italic;
  color: #00ff7f;
}

.snippetButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.updateButton,
.deleteButton {
  padding: 10px;
  border: 1px solid #00ff7f;
  border-radius: 5px;
  background-color: rgba(0, 255, 127, 0.1);
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.updateButton:hover,
.deleteButton:hover {
  background-color: #00ff7f;
  color: #000;
}